body {
	background-color: #16491c; /*#3fe8ff*/
    z-index: 1;
}

.carre {
	position: relative;
	margin-top: 80px;
	margin-left: 30px;
	width: 800px;
	background-color: #f3f78a;/*#ff7b00*/
	z-index: 2;
}

.carre2 {
	position: relative;
	margin-left: 30px;
	width: 800px;
	background-color: #f4f2a4;/*#ff7b00*/
	z-index: 2;
	color: #16491c;
	font-family: "Times New Roman", Times, serif;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*
#conteneur {
	border: solid 1px red;

	width: 40%;
	display: flex;
	flex: 2 0 2;
}

.box {
	border: solid 1px black;

}

.un {
	flex: 1 0 0;
}
.deux {
	flex: 1 1 2;
}

.trois {
	flex: 1 1 2;
}

.quatre {
	flex: 1 1 1;
}

.cinq {
	flex: 1 1 1;
}

.six {
	flex: 1 1 1;
}
#image {
	width: 20%;
}*/

/*CSS pour la page inscription*/
.couleur {
	margin-left: 50px;
	font-family: "Times New Roman", Times, serif;
	color: #c64637;
}

.place{
	margin-left: 40px;
}

.place2 {
	margin-top: 5px;
	margin-left: 100px;
}

.place3 {
	margin-top: 30px;
	margin-left: 150px;
	margin-bottom: 30px;
	width: 140px;
}

